.body{
    background-color: #222D32;
}
.box{
    margin-top:150px;
}
.panel-title{
    text-align: center;
    line-height:40px;
    font-size:20px;
}

a,
a:hover,
a:link,
a:visited,
a:active{
    text-decoration: none;
}

.red{
    color:rgb(180, 35, 35);
}

ul,ol{
    list-style:none;
}
ul,li{
    margin: 0;
    padding: 0;
}

table.table.table-bordered th,
table.table.table-bordered  td{
    text-align: center;
    vertical-align: middle;
}
.aside{
    width:180px;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    background-color: #222D32;
    z-index:999;
    transition:all 1s;
}
.aside.special{
    transform:translate(-180px);
}

.aside .title{
    height: 50px;
    background-color: #367FA9;
}
.aside .title a{
    display:block;
    line-height: 50px;
    color:#fff;
    font-size:20px;
    text-align: center;
}
.aside .user{
    margin-top:30px;
}
.aside .info .user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:block;
    margin:0 auto;
   
}
.aside .info .user p{
    font-size:18px;
    text-align: center;
    color:#fff;
    margin-top:8px;
}

.aside .info .nav{
    margin-top:35px;
}
.aside .info .nav li a{
    display:block;
    height: 40px;
    line-height: 40px;
    color:#fff;
    font-size:14px;
    padding-left:40px;
    border-left:3px solid transparent;
}
.aside .info .nav li a.current{
    background-color: #1D1F21;
    border-left:3px solid #006699;
}
.aside .info .nav li i{
    margin-right:5px;
}
.cate{
    display:none;
}

.main{
    padding-left:180px;
    height: 2000px; 
    padding-top:70px;
    transition:all 1s;
}
.main.special{
    padding-left:0px;
}
.main .top{
    position: fixed;
    height: 50px;
    width:100%;
    left:0;
    top:0;
    padding-left:180px;
    background-color: #3C8DBC;
    transition: all 1s;
}
.main .top.special{
    padding-left:0px;
}
.main .top a{
    font-size:20px;
    display:block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
   
}

.charts .c_left,
.charts .c_right {
    height: 400px;
    width:48%;
}

